<h1>Hay que pulsar todos los botones</h1>

<div class="mt-2 mb-2 row align-items-center">
    <button class="col btn btn-primary toggle" (click)="toggleShow()" > {{showDias ? "Trabajar con días" : "Trabajar con estaciones"}}</button>
    <button class="col btn btn-danger">Reset botones</button>
</div>

<div class="bg-warning">
    Botones pulsados: []
</div>
<div class="bg-warning">
    <h2>TODOS LOS BOTONES PULSADOS</h2>
</div>

<div class="row  mt-2 mx-4  ">
<app-hijo *ngFor="let item of (showDias? dias: estaciones)"
            [texto] = "item"
            (evBotonPulsado)="botonPulsado($event)"
          class="my-2"
>COMPONENTES HIJOS</app-hijo>
</div>